/**
 * activity styles for ambition.me
 * @author Jogga <joachim@froestl.com>
 */





/* activity container */
.amb-activity {

    // Box
    padding: 20px;
    overflow: hidden;

    // Pos
    clear: left;
    position: relative;
    text-align: left;

    // Skin
    background: {
        color: $amb-clr-blue;
    }
    color: $amb-clr-white;
    list-style-type: none;

    // Children
    // Button Interaction Div
    .amb-activity-interaction {
        width: 60px;
        float: left;
        overflow: hidden;
    }

    .amb-activity-desc {
        margin: {
            left: 60px;
        }
    }

    // Name of Ambition to which this activity belongs
    .amb-ambition-name {
        margin: 0;

        position: relative;

        color: $amb-clr-white;
        font: {
            size: 18px;
            family: $amb-fnt-script;
            style: normal;
            weight: 400;
        }
    }


    // Exercise Name
    .amb-activity-name {
        // box
        margin: 0;
        display: inline;

        // typo
        font: {
            family: $amb-fnt-sans;
            size: 22px;
            weight: 700;
        }
        text: {
            transform: uppercase;
        }
        line-height: 1em;
    }


    // Button do set activity as done
    .amb-button {
        // Box
        display: block;
        border: none;
        padding: 0;
        margin: 0;
        border: {
            width: 2px;
            color: rgba(0,0,0,0.1);
            style: solid;
        }

        // Skin
        text-align: center;
        background: {
            color: rgba(0,0,0,0.0);
        }
        color: $amb-clr-white;
        line-height: 0;
        @include border-radius(50%);

        // FX
        @include box-shadow(rgba($amb-clr-black, 0.33) 0px 0px 0px 0px);
        @include transition-property(box-shadow);
        @include transition-duration($amb-tmng-hover-out);

        // Children
        svg {
            // box
            width: 40px;
            height: 40px;
        }
        .amb-icon-path {
            stroke: rgba(0,0,0,0.2);
            stroke-width: 4;

        }

        // States
        &:hover {

            // Skin
            cursor: pointer;
            background: {
                color: rgba(0,0,0,0.2);
            }
            border-color: transparent;

            // child
            .amb-icon-path {
                stroke: rgba(255,255,255,1);
                stroke-width: 4;

            }
        }
    }
}
