/**
 * activity styles for ambition.me
 * @author Jogga <joachim@froestl.com>
 */





/* activity container */
.amb-activity {

    // Box
    padding: 0;

    // Pos
    position: relative;
    text-align: left;

    // Skin
    background: {
        color: $amb-clr-blue;
    }
    color: $amb-clr-white;
    list-style-type: none;

    // Children
    // Button Interaction Div
    .amb-activity-interaction {
        float: left;
    }

    // Name of Ambition to which this activity belongs
    .amb-ambition-name {
        margin: 0;

        position: relative;

        color: $amb-clr-white;
        font: {
            size: 18px;
            family: $amb-fnt-script;
            style: normal;
            weight: 400;
        }
    }

    // Button do set activity as done
    .amb-button {
        // Box
        display: block;
        padding: 10px;
        border: none;
        margin: {
            top: 0;
            right: 0;
            bottom: 0;
            left: auto;
        };

        // Skin
        text-align: center;
        color: $amb-clr-white;
        background: {
            color: $amb-clr-turquois;
        }
        line-height: 0;
        @include border-radius(50%);

        // FX
        @include box-shadow(rgba($amb-clr-black, 0.33) 0px 0px 0px 0px);
        @include transition-property(box-shadow);
        @include transition-duration($amb-tmng-hover-out);

        // Children
        svg {
            width: 40px;
            height: 40px;
        }
        .amb-icon-path {
            stroke: $amb-clr-white;
            stroke-width: 4;

        }

        // States
        &:hover {
            cursor: pointer;
            @include transition-duration($amb-tmng-hover-in);
            @include box-shadow(rgba($amb-clr-black, 0.33) 0px 0px 0px 10px);
        }
    }
}



/* Exercise Name */
.amb-activity-name {
    margin: 0;

    font: {
        family: $amb-fnt-sans;
        size: 32px;
        weight: 700;
    }
    line-height: 1em;
}



/* Ambition name, Activity Desc */
.amb-activity-desc {

    // Box
    padding: {
        left: 20px;
        right: 20px;
    }
    width: 100%;
    @include box-sizing(border-box);
}




/* Timeline */
.amb-activity-timeline {
    width: 300%;
    height: 0px;
    border: {
        color: $amb-clr-turquois;
        width: 0;
        top-width: 4px;
        style: solid;
    }

    position: absolute;
    left: -200%;
    top: 50%;
    z-index: -1;

    @include transform(translateY(-50%));
}

.amb-activity-timeline.future {
    border: {
        color: $amb-clr-grey-lgt;
        style: dashed;
    }
    position: absolute;
    left: auto;
    right: -100%;
    display: none;
}

.amb-activity-timeline-arrow {
    width: 0px;
    height: 0px;
    border: {
        style: solid;
        top-width: 10px;
        right-width: 0;
        bottom-width: 10px;
        left-width: 15px;
        top-color: transparent !important;
        right-color: transparent !important;
        bottom-color: transparent !important;
        left-color: $amb-clr-grey-lgt;
    }
    position: absolute;
    left: -10px;
    top: 50%;

    @include transform(translateY(-50%));
}
