/**
 * activity styles for ambition.me
 * @author Jogga <joachim@froestl.com>
 */


/* activity container */
.amb-activity {

    // Box
    margin: {
        top: 40px;
        left: auto;
        right: auto;
        bottom: 70px;
    }
    padding: 0;
    max-width: 400px;

    // Pos
    position: relative;
    text-align: center;

    // Skin
    color: $amb-clr-white;
    background: {
        color: $amb-clr-blue;
    }
    @include border-radius(50%);

    // Children
    // Name of Ambition to which this activity belongs
    .amb-ambition-name {
        margin: 0;

        position: relative;

        color: $amb-clr-white;
        font: {
            size: 22px;
            family: $amb-fnt-serif;
            style: normal;
            weight: 300;
        }
        @include text-shadow( rgba($amb-clr-black, 1) 0px 0px 10px);
    }

    // Potential Mood Picture
    .amb-ambition-moodpic {
        display: block;
        height: auto;
        width: 100%;
        @include border-radius(50%);
    }

    .amb-activity-interaction {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
    }
    // Button show that this activity is done
    .amb-button {
        // Box
        display: block;
        padding: 10px;
        border: none;
        margin: {
            top: 0;
            right: 0;
            bottom: 0;
            left: auto;
        };

        // Skin
        text-align: center;
        color: $amb-clr-white;
        background: {
            color: $amb-clr-turquois;
        }
        line-height: 0;
        @include border-radius(50%);

        // FX
        @include box-shadow(rgba($amb-clr-black, 0.33) 0px 0px 0px 0px);
        @include transition-property(box-shadow);
        @include transition-duration($amb-tmng-hover-out);

        // Children
        svg {
            width: 60px;
            height: 60px;
        }
        .amb-icon-path {
            stroke: $amb-clr-white;
            stroke-width: 1;

        }

        // States
        &:hover {
            cursor: pointer;
            @include transition-duration($amb-tmng-hover-in);
            @include box-shadow(rgba($amb-clr-black, 0.33) 0px 0px 0px 10px);
        }
    }
}



/* Exercise Name */
.amb-activity-name {
    margin: 0;

    font: {
        family: $amb-fnt-sans;
        size: 32px;
        weight: 700;
    }
    line-height: 1em;
    @include text-shadow( rgba($amb-clr-black, 1) 0px 0px 10px);
}



/* Ambition name, Activity Desc */
.amb-activity-desc {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    @include transform(translateY(-50%) translateX(-50%));
}




/* Timeline */
.amb-activity-timeline {
    width: 300%;
    height: 0px;
    border: {
        color: $amb-clr-turquois;
        width: 0;
        top-width: 2px;
        style: solid;
    }

    position: absolute;
    left: -200%;
    top: 50%;
    z-index: -1;

    @include transform(translateY(-50%));
}

.amb-activity-timeline.future {
    border: {
        color: $amb-clr-grey-lgt;
        style: dashed;
    }
    position: absolute;
    left: auto;
    right: -100%;
    display: none;
}

.amb-activity-timeline-arrow {
    width: 0px;
    height: 0px;
    border: {
        style: solid;
        top-width: 10px;
        right-width: 0;
        bottom-width: 10px;
        left-width: 15px;
        top-color: transparent !important;
        right-color: transparent !important;
        bottom-color: transparent !important;
        left-color: $amb-clr-grey-lgt;
    }
    position: absolute;
    left: -10px;
    top: 50%;

    @include transform(translateY(-50%));
}
