/**
 * button styles for ambition
 * @author Jogga <joachim@froestl.com>
 */

.amb-button {
    display: inline-block;
    padding: 10px 20px;
    border: {
        width: 1px;
        style: solid;
        color: $amb-clr-grey;
    }

    background: none;
    color: $amb-clr-grey;
    text-transform: uppercase;
    font: {
        size: 14px;
    }

    @include border-radius(30px);
    @include transition-property(color border background);
    @include transition-duration(0.25s);

    &:hover,
    &:focus {
        outline: none;
        border-color: $amb-clr-black;
        color: $amb-clr-black;
        @include transition-duration(0.1s);
    }

    &:focus {
        outline:none;
    }
}

.amb-button-positive {
    background: {
        color: $amb-clr-green;
    }
    color: $amb-clr-white;
    border: {
        color: $amb-clr-green;
    }
    &:hover,
    &:focus {
        background: {
            color: #06A766;
        }
        border: {
            color: #06A766;
        }
    }
}
