/**
 * typography for ambition
 * @author Jogga <joachim@froestl.com>
 */


/* Font Stacks */
$amb-fnt-sans: "omnes-pro", "Helvetica Neue", Arial, sans-serif;
$amb-fnt-serif: "freight-display-pro", Georgia, serif;


/* Typo Styling */
body {
    font: {
        family: $amb-fnt-sans;
    }
}
