/**
 * Global Styles for ambition
 * @author Jogga <joachim@froestl.com>
 */

html {
    min-height: 100%;
    background: {
        color: $amb-clr-white;
    }
}


div[ng-view]{
    max-width: 800px;
    padding: {
        top: 55px;
        left: 5px;
        right: 5px;
    }
    margin: {
        right: auto;
        left: auto;
    }
}
