/**
 * colors for ambition
 * @author Jogga <joachim@froestl.com>
 */


/* Color Vars */
$amb-clr-white: #fefefe;
$amb-clr-black: #222;

$amb-clr-grey-xlgt: #eee;
$amb-clr-grey-lgt: #ddd;
$amb-clr-grey: #aaa;

$amb-clr-red: #FF4A76;

$amb-clr-green: #09E48C;
$amb-clr-green-drk: #06A766;
