/**
 * Global Styles for ambition
 * @author Jogga <joachim@froestl.com>
 */

html {
    min-height: 100%;
    background: {
        color: $amb-clr-grey-xlgt;
    }
}


div[ng-view]{
    padding: {
        top: 50px;
    }
    margin: {
        right: auto;
        left: auto;
    }
}


/* container */
.amb-container {
    // box
    max-width: 600px;
    margin: 0 auto;
}
