/**
 * Global Styles for ambition
 * @author Jogga <joachim@froestl.com>
 */

html {
    min-height: 100%;
    background: {
        color: $amb-clr-grey-xlgt;
    }
}


div[ng-view]{
    max-width: 800px;
    margin: {
        top: 53px;
        right: auto;
        left: auto;
    }
}
