/**
 * colors for ambition
 * @author Jogga <joachim@froestl.com>
 */


/* Color Vars */
$amb-clr-white: #fefefe;
$amb-clr-black: #222;

$amb-clr-grey-xlgt: #eee;
$amb-clr-grey-lgt: #ccc;
$amb-clr-grey: #aaa;

$amb-clr-red: #FF7171;

$amb-clr-green: #34FF85;
$amb-clr-green-drk: #06A766;

$amb-clr-blue: #1DAEF3;
$amb-clr-blue-drk: #004B6F;

$amb-clr-turquois: #3EE5E5;
