.amb-nav {
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    border: {
        width: 0;
        bottom-width: 1px;
        color: $amb-clr-grey-xlgt;
        style: solid;
    }

    a {
        display: block;
        float: left;
        width: 25%;
        padding: {
            top: 15px;
            bottom: 11px;
            left: 0;
            right: 0;
        }
        border: {
            width: 0;
            bottom-width: 4px;
            color: $amb-clr-white;
            style: solid;
        }

        color: $amb-clr-grey;
        text-align: center;
        text-decoration: none;
        @include transition-property(color border-color);
        @include transition-duration($amb-tmng-hover-out);

        // States
        &:hover,
        &:focus,
        .amb-active {
            color: $amb-clr-green;
            border-color: $amb-clr-green;
            @include transition-duration($amb-tmng-hover-in);
        }
    }
}
