/**
 * Navigation Styles for ambition.me
 * @author Basti <sebastian@froestl.com>, Jogga <joachim@froestl.com>
 */


/* Nav Container */
.amb-menu {
    position: fixed;
    top: 0;
    z-index: 2;

    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;

    background: {
        color: $amb-clr-white;
    }
    @include box-shadow(rgba($amb-clr-grey, 0.25) 0px 1px 0px);
}


/* Single Nav Elem */
.amb-nav-elem {
    display: block;
    padding: {
        top: 13px;
        bottom: 13px;
        left: 0;
        right: 0;
    }

    color: $amb-clr-grey;
    font: {
        family: $amb-fnt-sans;
        weight: 700;
    }
    text: {
        align: center;
        decoration: none;
        transform: lowercase;
    }
    -webkit-font-smoothing: antialiased;

    background: {
        image:linear-gradient(to bottom,
            $amb-clr-white 0px,
            $amb-clr-white 40px,
            $amb-clr-black 40px,
            $amb-clr-black 47px); /* W3C */
        repeat: no-repeat;
        position: 0px 10px;
    }
    @include transition-property(color background-position);
    @include transition-duration($amb-tmng-hover-out);

    // States
    &:hover,
    &:focus {
        color: $amb-clr-black;
        @include transition-duration($amb-tmng-hover-in);
        background-position: 0px 0px;
    }
}

/* Active Main Nav Element */
.amb-nav-elem.amb-active {
    color: $amb-clr-black;
    background-position: 0px 0px;
    @include transition-duration($amb-tmng-hover-in);
}


/* Main Navigation */
.amb-nav-main {
    clear: left;
    max-width: 800px;
    padding: 0;
    margin: 0 auto;

    .amb-nav-elem {
        float: left;
        width: 33.333%;
    }
}


/* Meta Navigation */
.amb-nav-meta {
    max-width: 800px;
    padding: {
        top: 2px;
        bottom: 4px;
    }
    margin: {
        left: auto;
        right: auto;
    }

    // Children
    .amb-profile-pic {
        display: block;
        position: relative;
        z-index: 1;

        height: 48px;
        width: 48px;
        margin: {
            top: 0;
            left: auto;
            right: auto;
            bottom: 0;
        }
        background: {
            color: $amb-clr-grey;
        }


        &:hover {
            img {
                @include transition-duration(50ms);
                @include box-shadow($amb-clr-grey-lgt 0px 0px 0px 7px);
            }
        }
        img {
            display: block;
            height: auto;
            width: 100%;
            @include transition-property(box-shadow);
            @include transition-duration(100ms);
            @include box-shadow($amb-clr-grey-lgt 0px 0px 0px 0px);
            @include border-radius(50%);
        }

    }
}
