/**
 * ambition styles for ambition.ne
 * @author Jogga <joachim@froestl.com>
 */


/* Ambition Container */
.amb-ambition {
    position: relative;
    max-width: 400px;
    padding: 20px;
    margin: {
        left: auto;
        right: auto;
        bottom: 50px;
    }
    background-color: rgb(238, 238, 238);
    text-align: center;
    color: $amb-clr-black;
}


/* Ambition name */
.amb-ambition-name {
    margin: 0;

    font: {
        size: 20px;
        family: $amb-fnt-serif;
        style: normal;
        weight: 400;
    }
}


/* Acitvity Text */
.amb-ambition-activity {
    margin: 0;

    font: {
        size: 36px;
        weight: 700;
    }
    line-height: 36px;
}
