<div class="amb-ambition-create">
    <div ng-click="showNew = !showNew" ng-hide="showNew" class="amb-ambition amb-ambition-new">
        <span>+</span>
        <span>new ambition</span>
    </div>
    <div ng-show="showNew" new-ambition class="amb-ambition"></div>
</div>

<div ng-repeat="ambition in ambitions" class="amb-ambition">


    <h2 class="amb-ambition-activity">{{ambition.exercise}}</h2>

    <p class="amb-ambition-name">to
        <span inline-edit="ambition.goal" on-save="updateAmbition(ambition, updates, 'name')"></span>
    </p>


    <div>
        <span class="amb-ambition-interval" ng-class="{'checked': ambition.interval.mo}">Mo</span>
        <span class="amb-ambition-interval" ng-class="{'checked': ambition.interval.tu}">Tu</span>
        <span class="amb-ambition-interval" ng-class="{'checked': ambition.interval.we}">We</span>
        <span class="amb-ambition-interval" ng-class="{'checked': ambition.interval.th}">Th</span>
        <span class="amb-ambition-interval" ng-class="{'checked': ambition.interval.fr}">Fr</span>
        <span class="amb-ambition-interval" ng-class="{'checked': ambition.interval.sa}">Sa</span>
        <span class="amb-ambition-interval" ng-class="{'checked': ambition.interval.su}">Su</span>
    </div>

    <p>Streak: {{ambition.streak}}</p>

    <button ng-click="checkAmbition(ambition)">Also done today</button>

    <!-- <button ng-click="deleteAmbition(ambition, $index)" class="amb-button amb-button-negative">Delete</button> -->
</div>


<style>

.amb-ambition-interval {
    display: inline-block;
    border: 1px solid;
    width: 30px;
    height: 30px;
    background-color: #eee;
}

.amb-ambition-interval.checked {
    background-color: #0DFFD4;
}
</style>
