<div class="amb-ambition-create">
    <div ng-click="showNew = !showNew" ng-hide="showNew" class="amb-ambition amb-ambition-new">
        <span>+</span>
        <span>new ambition</span>
    </div>
    <div ng-show="showNew" new-ambition class="amb-ambition"></div>
</div>

<div ng-repeat="ambition in ambitions" class="amb-ambition">
    <p class="amb-ambition-name">to {{ambition.name}},</p>
    <div ng-repeat="activity in ambition.activities">
        <h2 class="amb-ambition-activity">did you {{activity.exercise}} today?</h2>
        <div class="amb-ambition-interaction">
            <button class="amb-button amb-button-positive" ng-click="checkActivity(activity)">Yes</button>
            <button class="amb-button amb-button-negative" ng-click="missActivity(activity)">No</button>
        </div>
    </div>

    <!-- <button ng-click="deleteAmbition(ambition)" class="amb-button amb-button-negative">Delete</button> -->
</div>
