<form class="amb-new" action="">
    <fieldset>
        <label>What is your ambition?</label>
        <input ng-model="newAmbition.goal" type="text" placeholder="get fitter">
    </fieldset>
    <fieldset>
        <label for="">To achieve this, what do you need to do? </label>
        <input ng-model="newAmbition.exercise" type="text" placeholder="train in the gym">
    </fieldset>
    <fieldset>
        <label for="" class="amb-label-interval">How often do you want to do this activity?</label>
        <ul>
            <li><input type="checkbox" name="mo" ng-model="newAmbition.interval.mo" /><label for="mo">Monday</label></li>
            <li><input type="checkbox" name="tu" ng-model="newAmbition.interval.tu" /><label for="tu">Tuesday</label></li>
            <li><input type="checkbox" name="we" ng-model="newAmbition.interval.we" /><label for="we">Wednesday</label></li>
            <li><input type="checkbox" name="th" ng-model="newAmbition.interval.th" /><label for="th">Thursday</label></li>
            <li><input type="checkbox" name="fr" ng-model="newAmbition.interval.fr" /><label for="fr">Friday</label></li>
            <li><input type="checkbox" name="sa" ng-model="newAmbition.interval.sa" /><label for="sa">Saturday</label></li>
            <li><input type="checkbox" name="su" ng-model="newAmbition.interval.su" /><label for="su">Sunday</label></li>
        </ul>
    </fieldset>
<!--<fieldset>
        <label for="">My first reachable goal is to</label>
        <input type="text" placeholder="loose 2kg weight">
    </fieldset> -->
    <fieldset class="amb-form-finish">
        <button ng-click="showNew = false" class="amb-button">cancel</button>
        <button ng-click="createAmbition()" class="amb-button amb-button-positive">get started</button>
    </fieldset>
</form>
